BACKUP_RETENTION_DAYS={{ backup_retention_days }}
RESTIC_REPOSITORY={{ backup_restic_repository | quote }}
RESTIC_PASSWORD={{ vault_restic_password | default('') | quote }}
AWS_ACCESS_KEY_ID={{ vault_aws_access_key_id | default('') | quote }}
AWS_SECRET_ACCESS_KEY={{ vault_aws_secret_access_key | default('') | quote }}
